

body {
  background: none repeat scroll 0 0 rgba(0,0,0,0);
}
.logo-box {
  background: none repeat scroll 0 0 #252D30;
  display: block;
  padding: 1.25em;
  width: 100%;
  border-bottom: 1px solid #151E1F;
}
h1 {
  color: #FFFFFF;
  font-family: impact,tahoma;
  font-size: 1.5em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.aside-nav ul {
  background: none repeat scroll 0 0 #252D30;
}
.aside-nav li a {
  border-bottom: 1px solid #151E1F;
  color: #FFFFFF;
}
.aside-nav li a:link, .aside-nav li a:visited {
  color: #FFFFFF;
}
.aside-nav li > ul,.aside-nav li ul ul {
  background: none repeat scroll 0 0 #151E1F;
}
.top-nav li a:hover, .aside-nav li a:hover,.aside-nav > ul > li.active-item > a:link, .aside-nav > ul > li.active-item > a:visited {
  background: none repeat scroll 0 0 #181F22;
}

.line {
  max-height: 100vh;
  max-width: 100%;
}

i {
  color: #E36132;
  display: inline-block;
  font-size: 1.2em;
  width: 1.8em;
}
.date {
  text-align: center;
}
.date span {
  font-size: 2.7em;
}
.date i {
  color: #D0D0D0;
  font-size: 1.5em;
  width: auto;
}
#search,#social {
  border-top: 1px solid #151E1F;
  padding: 1.25em;
  position: relative;
}
#search i {
  margin-left: 0.625em;
  width: auto;
}
#social i {
  color: #B0B0B0;
  font-size: 1.8em;
  width: auto;
}

article {
  display: inline-block;
  vertical-align: middle;
}

article hr {
  color: #E0E0E0;
  margin: 1.25em 0;
}


#content-wrapper:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
#content-wrapper {
  background: none repeat scroll 0 0 #252D30;
  margin-top: 3px;
}
img#background {
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -10;
}
.footer {
  background: none repeat scroll 0 0 #E0E0E0;
}
@media screen and (max-width: 768px) {
  .aside-nav li a,#search,#social {
    padding: 0.625em 1.25em;
  }
  .date {
    text-align: left;
  }
}



a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #bcd7f5;
}

.selected {
  background-color: #96ccf5 !important;
}

.tooltip-inner {
  white-space:pre-wrap;
}

.tool + .tooltip > .tooltip-inner {
  background-color: #73AD21;
  color: #FFFFFF;
  border: 1px solid green;
  padding: 15px;
  font-size: 20px;
}

.pointer {
  cursor: pointer;
}

.tool + .tooltip.right > .tooltip-arrow {
  border-right: 5px solid black;
}

tr.pointer:focus, tr.pointer:hover, button.pointer:focus, button.pointer:hover {
  color: #555;
  text-decoration: none;
  background-color: #bcd7f5;
}

.selected {
  background-color: #96ccf5 !important;
}

input {display: block !important; padding: 0 !important; margin: 0 !important; border: 0 !important; width: 100% !important; border-radius: 0 !important; line-height: 1 !important;}
#variable td {margin: 0 !important; padding: 0 !important;}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

button:focus {outline:0;}
button:active {
  outline: none;
  border: none;
}

table {
  font-size: 2rem;
}

.selected {
  background-color: #96ccf5 !important;
}

.imgBtn:hover {
  cursor: pointer;
}
