<div class="container" style="min-height: 98vh; background-color: white; width: 100%">
  <div class="row" *ngIf="newResult != null">
    <h2>New Result: {{newResult}}</h2>
  </div>
  <div class="row" *ngIf="finishedReason != null">
    <h2>Reason: {{finishedReason}}</h2>
  </div>
  <div class="row">
    <button style="margin-top: 20px;" type="button" class="btn btn-success" (click)="runChanges()">Run</button>
  </div>
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Delivered</th>
        <th>Sender</th>
        <th>Rank</th>
        <th>Subject</th>
        <th>Rank</th>
        <th>App</th>
        <th>Rank</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{selectedNotification?.id}}</td>
        <td>{{selectedNotification?.date | date:'MM/dd/yy h:mm a'}}</td>
        <td>{{selectedNotification?.sender}}</td>
        <td>{{selectedNotification?.senderRank}}</td>
        <td>{{selectedNotification?.subject.subject}}</td>
        <td>-</td>
        <td>{{selectedNotification?.app.name}}</td>
        <td>{{selectedNotification?.appRank}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-6">
      <!--<div style="padding: 50px; display: inline-block; background-color: white;">
        <canvas id="cvsRankings" width="300" height="250">[No canvas support]</canvas>
      </div>-->
      <div id="rankingChart" style="width:100%; height:400px;"></div>
    </div>
    <div class="col-md-6">
      <div style="padding: 50px; display: inline-block; background-color: white;">
        <div id="eventChart" style="width:100%; height:400px;"></div>
      </div>
    </div>
  </div>
</div>
