<body class="size-1140 align-content-left">
  <div class="container" style="padding-left: 0px; margin-left: 0px; width: 100%; padding-right: 0px;">
    <div class="line">
      <div id="content-wrapper" style="margin-left: 25%; margin-right: 25%; min-height: 98vh;">
        <!-- LEFT COLUMN -->
        <div class="s-12 m-4 l-3" style="max-height: 98vh; overflow: hidden">
          <div class="logo-box">
            <h1>NAbs Demo</h1>
          </div>
          <div class="aside-nav">
            <!--<ul class="chevron">
              <li><a href="index.html"><i class="icon-list"></i>Blog</a></li>
              <li><a href="gallery.html"><i class="icon-camera"></i>Gallery</a></li>
              <li>
                <a href="about.html"><i class="icon-heart"></i>About</a>
                <ul>
                  <li><a href="about.html">About 1</a></li>
                  <li><a href="about.html">About 2</a></li>
                </ul>
              </li>
              <li><a href="contact.html"><i class="icon-mail"></i>Contact</a></li>
            </ul>
            <div id="search" class="line" >
              <input class="s-11" name="" placeholder="Search" title="Search" type="text" /><a class="s-1" ><i class="icon-magnifying"></i></a>
            </div>
            <div id="social">
              <a target="_blank" href="https://www.facebook.com/myresponsee"><i class="icon-facebook_circle"></i></a> <a target="_blank" href="https://twitter.com/MyResponsee"><i class="icon-twitter_circle"></i></a>
            </div>-->
            <div *ngIf="users?.length != 0 && selectedUser == null" style="text-align: center; margin-top: 20px; color: white;">
              <h4>Select a user:</h4>
            </div>
            <div *ngIf="selectedUser!=null" style="text-align: center; margin-top: 20px;">
              <img src="./common/dist/img/{{selectedImage}}.png" style="max-width: 100%;" alt="No user selected.">
              <div style="color: white; margin-top: 20px"><h4>Selected User</h4></div>
              <button style="margin-top: 20px;" type="button" class="btn btn-primary" (click)="switchUser()">Switch User</button>
              <button style="margin-top: 20px;" type="button" class="btn btn-success" (click)="fireAllParams()">Fire Again</button>
            </div>
          </div>
        </div>


        <!-- RIGHT COLUMN -->
        <div *ngIf="users?.length == 0" class="s-12 m-8 l-9" style="max-height: 98vh; overflow-x: scroll; overflow-x: hidden">
          <div>
            <my-spinner [isRunning]="isRequesting"></my-spinner>
          </div>
        </div>

        <div class="s-12 m-8 l-9" style="max-height: 98vh; overflow-x: scroll; overflow-x: hidden; text-align: center">
          <div class="box">
            <!-- HEADER -->
            <!-- CAROUSEL -->
            <section *ngIf="selectedUser != null && alertParams != null && defaultParams!=null" style="border-bottom: grey; border-bottom-style: solid;">
              <article class="line">
                <div class="margin" style="margin-bottom: 20px; margin-top: 20px;">
                  <div class="s-12 m-12 l-10" style="width: 100%; margin: 0 auto;">
                    <div style="display: inline-block; vertical-align: middle; margin-left: 20px;">
                      <button type="button" class="btn btn-info btn-lg btn-circle btn-xl"
                              (click)="lgModalInfo.show();" style="background-color: white"><img src="./common/dist/img/info.png"/></button>
                      <div style="display: block; text-align: center;;">{{selectedUser.id}}</div>
                    </div>
                    <div style="display: inline-block; vertical-align: middle; margin-left: 20px;">
                      <button type="button" class="btn btn-info btn-lg btn-circle btn-xl"
                              (click)="lgModalNotif.show();" style="background-color: white"><img src="./common/dist/img/notification.png"/></button>
                      <div style="display: block; text-align: center;;">{{selectedUser.notifications?.length}}</div>
                    </div>
                    <div style="display: inline-block; vertical-align: middle; margin-left: 20px;">
                      <button type="button" class="btn btn-info btn-lg btn-circle btn-xl"
                              (click)="lgModalEvent.show();" style="background-color: white"><img src="./common/dist/img/calendar.png"/></button>
                      <div style="display: block; text-align: center;;">{{selectedUser.events?.length}}</div>
                    </div>
                    <div style="display: inline-block; vertical-align: middle; margin-left: 20px;">
                      <button type="button" class="btn btn-info btn-lg btn-circle btn-xl"
                              (click)="lgModalControl.show();" style="background-color: white"><img src="./common/dist/img/controls.png"/></button>
                      <div *ngIf="checkCustomRules()" style="display: block; text-align: center;">Custom</div>
                      <div *ngIf="!checkCustomRules()" style="display: block; text-align: center;">Default</div>
                    </div>
                  </div>

                </div>
              </article>
            </section>

            <section *ngIf="selectedUser != null && allResults?.length > 0">
              <article *ngFor="let result of allResults; let i = index" class="line">
                <div class="margin" style="margin-bottom: 20px; margin-top: 20px;">

                  <div class="s-12 m-12 l-10">
                    <div style="display: inline-block; vertical-align: middle; margin-left: 20px;">
                      <div style="display: block; text-align: center; font-weight: bold;">{{result.id}}</div>
                      <div [ngSwitch]="result?.result">
                        <button type="button" *ngSwitchCase="'now'" class="btn btn-info btn-lg btn-circle btn-xl"
                                style="background-color: green;" (click)="lgModalNotifDetail.show(); setNotification(selectedUser.notifications[i], result.result)"><img style="background-color: white; border-radius: 25px;" src="./common/dist/img/notificationBlack.png"/></button>
                        <button type="button" *ngSwitchCase="'break'" class="btn btn-info btn-lg btn-circle btn-xl"
                                style="background-color: dodgerblue;" (click)="lgModalNotifDetail.show(); setNotification(selectedUser.notifications[i], result.result)"><img style="background-color: white; border-radius: 25px;" src="./common/dist/img/notificationBlack.png"/></button>
                        <button type="button" *ngSwitchCase="'period'" class="btn btn-info btn-lg btn-circle btn-xl"
                                style="background-color: purple;" (click)="lgModalNotifDetail.show(); setNotification(selectedUser.notifications[i], result.result)"><img style="background-color: white; border-radius: 25px;" src="./common/dist/img/notificationBlack.png"/></button>
                        <button type="button" *ngSwitchCase="'little later'" class="btn btn-info btn-lg btn-circle btn-xl"
                                style="background-color: yellow;" (click)="lgModalNotifDetail.show(); setNotification(selectedUser.notifications[i], result.result)"><img style="background-color: white; border-radius: 25px;" src="./common/dist/img/notificationBlack.png"/></button>
                        <button type="button" *ngSwitchCase="'much later'" class="btn btn-info btn-lg btn-circle btn-xl"
                                style="background-color: red;" (click)="lgModalNotifDetail.show(); setNotification(selectedUser.notifications[i], result.result)"><img style="background-color: white; border-radius: 25px;" src="./common/dist/img/notificationBlack.png"/></button>
                        <button type="button" *ngSwitchDefault class="btn btn-info btn-lg btn-circle btn-xl"
                                style="background-color: white;" (click)="lgModalNotifDetail.show(); setNotification(selectedUser.notifications[i], result.result)"><img src="./common/dist/img/notificationBlack.png"/></button>
                      </div>
                      <div style="display: block; text-align: center;">{{result.result}}</div>
                    </div>
                  </div>

                </div>
              </article>

            </section>
          </div>
          <!-- FOOTER -->
          <div class="box footer">
            <footer class="line">
              <div class="s-12 l-6">
                <p>Copyright 2016, Vision Design - graphic zoo<br />The background image is purchased from Depositphotos. Do not use the image in your website.</p>
                <p>User icons: designed by Roundicons from Flaticon</p>
              </div>
              <div class="s-12 l-6">
                <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Responsee Team</a>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <img id="background" src="./common/dist/img/background.jpeg" alt="">

    <div bsModal #lgModalInfo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">User Information</h4>
            <button type="button" class="close pull-right" (click)="lgModalInfo.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <tbody>
              <tr>
                <th>Id</th>
                <td>{{selectedUser?.id}}</td>
              </tr>
              <tr>
                <th>Student</th>
                <td>{{selectedUser?.student}}</td>
              </tr>
              <tr>
                <th>Agreeableness</th>
                <td>{{selectedUser?.personality?.agreeableness}}</td>
              </tr>
              <tr>
                <th>Conscientiousness</th>
                <td>{{selectedUser?.personality?.conscientiousness}}</td>
              </tr>
              <tr>
                <th>Extraversion</th>
                <td>{{selectedUser?.personality?.extraversion}}</td>
              </tr>
              <tr>
                <th>Neuroticism</th>
                <td>{{selectedUser?.personality?.neuroticism}}</td>
              </tr>
              <tr>
                <th>Openness</th>
                <td>{{selectedUser?.personality?.openness}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div bsModal #lgModalNotif="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header" style="text-align: center">
            <h2 class="modal-title pull-left">User Notifications</h2>
            <button type="button" class="close pull-right" (click)="lgModalNotif.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div *ngIf="selectedUser !=null" style="min-height:50px;max-height: 300px; overflow-y: scroll; min-height: 75vh;">

              <table class="table">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Date</th>
                  <th>Sender</th>
                  <th>Sender Rank</th>
                  <th>Subject</th>
                  <th>App</th>
                  <th>App Rank</th>
                </tr>
                </thead>
                <tbody>
                <tr class="pointer" *ngFor="let notification of selectedUser.notifications; let i = index;" (click)="notificationSelected(notification);"
                    [ngClass]="{ 'selected': notification?.active }">
                  <td>{{i+1}}</td>
                  <td>{{notification?.date}}</td>
                  <td>{{notification?.sender}}</td>
                  <td>{{notification?.senderRank}}</td>
                  <td class="tool" data-html="true" data-toggle="tooltip" data-placement="right"
                      title="Dataset: {{notification?.subject?.dataset}} <br> Ground truth: {{notification?.subject?.ground_truth}}">{{notification?.subject?.subject}}</td>
                  <td data-toggle="tooltip" data-placement="right"
                      title="Category: {{notification?.app?.category}}">{{notification?.app?.name}}</td>
                  <td>{{notification?.appRank}}</td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div bsModal #lgModalEvent="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title pull-left">User Events</h2>
            <button type="button" class="close pull-right" (click)="lgModalEvent.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div *ngIf="selectedUser?.events !=null" style="min-height:50px;max-height: 300px; overflow-y: scroll; min-height: 75vh;">

              <table class="table">
                <thead>
                <tr>
                  <th>Type</th>
                  <th>Description</th>
                  <th>Start</th>
                  <th>End</th>
                  <th>With</th>
                </tr>
                </thead>
                <tbody>
                <tr class="pointer" *ngFor="let event of selectedUser?.events;">
                  <div [ngSwitch]="event?.eventType">
                    <td *ngSwitchCase="0">Forward</td>
                    <td *ngSwitchCase="1">Enjoyed</td>
                    <td *ngSwitchCase="2">Cinema</td>
                    <td *ngSwitchCase="3">Movie</td>
                    <td *ngSwitchCase="4">TV</td>
                    <td *ngSwitchCase="5">Restaurant</td>
                    <td *ngSwitchDefault>-</td>
                  </div>
                  <td>{{event?.nameGT}}</td>
                  <td>{{event?.inferredStartDate.dayOfMonth}}/{{event?.inferredStartDate.monthValue}}/{{event?.inferredStartDate.year}}
                    {{event?.inferredStartDate.hour}}:{{event?.inferredStartDate.minute}}:00</td>
                  <td>{{event?.inferredEndDate.dayOfMonth}}/{{event?.inferredEndDate.monthValue}}/{{event?.inferredEndDate.year}}
                    {{event?.inferredEndDate.hour}}:{{event?.inferredEndDate.minute}}:00</td>
                  <td>{{event?.withGT}}</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div bsModal #lgModalNotifDetail="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="selectedNotification != null">
          <div class="modal-header">
            <button type="button" class="close pull-right" (click)="lgModalNotifDetail.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h2 *ngIf="selectedResult != null">Result: {{selectedResult}}</h2>
            <table class="table">
              <thead>
              <tr>
                <th>Id</th>
                <th>Delivered</th>
                <th>Sender</th>
                <th>Rank</th>
                <th>Subject</th>
                <th>Rank</th>
                <th>App</th>
                <th>Rank</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{selectedNotification?.id}}</td>
                <td>{{selectedNotification?.date}}</td>
                <td>{{selectedNotification?.sender}}</td>
                <td>{{selectedNotification?.senderRank}}</td>
                <td>{{selectedNotification?.subject.subject}}</td>
                <td>{{selectedNotification?.subjectRank}}</td>
                <td>{{selectedNotification?.app.name}}</td>
                <td>{{selectedNotification?.appRank}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-body">

            <div *ngIf="selectedNotificationEvents?.length > 0" style="min-height:50px;max-height: 300px; overflow-y: scroll;">

              <table class="table table-striped table-responsive">
                <thead>
                <tr>
                  <th>Summary</th>
                  <th>Description</th>
                  <th>Start</th>
                  <th>End</th>
                </tr>
                </thead>
                <tbody>
                <tr class="pointer" *ngFor="let event of selectedNotificationEvents;">
                  <td>{{event?.summary}}</td>
                  <td>{{event?.description}}</td>
                  <td>{{event?.startDate | date:'short'}}</td>
                  <td>{{eevent?.endDate | date:'short'}}</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>

      </div>
    </div>

    <div bsModal #lgModalControl="bs-modal" class="modal fade" [config]="{backdrop: 'static'}"
         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header" style="text-align: center">
            <h2 class="modal-title pull-left">Control</h2>
            <button type="button" class="btn btn-success pull-right" style="margin-left: 10px" (click)="lgModalControl.hide()">Save</button>
            <button type="button" class="btn btn-primary pull-right" (click)="resetParams();">Reset to Default</button>
          </div>
          <div class="modal-body" style="display: table; margin: 0 auto;">
            <div *ngIf="alertParams !=null" style="min-height:50px;max-height: 300px; overflow-y: scroll; min-height: 75vh;">

              <table class="table table-striped table-responsive" style="display: inline;">
                <thead>
                <tr>
                  <th>No.
                  </th>
                  <th>SenderInput
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let val of alertSenderInputValues; let i = index;">
                  <td>
                    {{i+1}}
                  </td>
                  <td>
                    {{val}}
                  </td>
                </tr>
                </tbody>
              </table>

              <table class="table table-striped table-responsive" style="display: inline;">
                <thead>
                <tr>
                  <th>SenderInput
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let val of alertSubjectInputValues; let i = index;">
                  <td>
                    {{val}}
                  </td>
                </tr>
                </tbody>
              </table>

              <table class="table table-striped table-responsive" style="display: inline;">
                <thead>
                <tr>
                  <th>SenderInput
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let val of alertAppInputValues; let i = index;">
                  <td>
                    {{val}}
                  </td>
                </tr>
                </tbody>
              </table>

              <table class="table table-striped table-responsive" style="display: inline;">
                <thead>
                <tr>
                  <th>SenderInput
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let val of alertParams; let i = index; trackBy:trackByIndex;">
                  <td >
                    <select [(ngModel)]="alertParams[i]"> <!-- <== changed -->
                      <option *ngFor="let option of alertOptions;" [ngValue]="option" [selected]="option === alertParams[i]">{{option}}</option>
                    </select>
                  </td>
                </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</body>
