<body class="size-1140 align-content-left">
  <div class="container" style="padding-left: 0px; margin-left: 0px; width: 100%; padding-right: 0px;">
    <div class="line">
      <div id="content-wrapper" style="margin-left: 25%; margin-right: 25%; min-height: 98vh;">
        <!-- LEFT COLUMN -->
        <div class="s-12 m-4 l-3" style="max-height: 98vh; min-height: 98vh; overflow: hidden; position: relative;">
          <div class="logo-box">
            <h1>NAbs Demo</h1>
          </div>
          <div class="aside-nav">
            <!--<ul class="chevron">
              <li><a href="index.html"><i class="icon-list"></i>Blog</a></li>
              <li><a href="gallery.html"><i class="icon-camera"></i>Gallery</a></li>
              <li>
                <a href="about.html"><i class="icon-heart"></i>About</a>
                <ul>
                  <li><a href="about.html">About 1</a></li>
                  <li><a href="about.html">About 2</a></li>
                </ul>
              </li>
              <li><a href="contact.html"><i class="icon-mail"></i>Contact</a></li>
            </ul>
            <div id="search" class="line" >
              <input class="s-11" name="" placeholder="Search" title="Search" type="text" /><a class="s-1" ><i class="icon-magnifying"></i></a>
            </div>
            <div id="social">
              <a target="_blank" href="https://www.facebook.com/myresponsee"><i class="icon-facebook_circle"></i></a> <a target="_blank" href="https://twitter.com/MyResponsee"><i class="icon-twitter_circle"></i></a>
            </div>-->
            <div *ngIf="users?.length != 0 && selectedUser == null" style="text-align: center; margin-top: 20px; color: white;">
              <h4>Select a user</h4>
            </div>
            <div *ngIf="selectedUser!=null" style="text-align: center; margin-top: 20px;">
              <img src="./common/dist/img/{{selectedImage}}.png" class="animated fadeInLeft" style="max-width: 100%;" alt="No user selected.">
              <div style="color: white; margin-top: 20px"><h4>Selected User</h4></div>
              <button style="margin-top: 20px;" type="button" class="btn btn-primary" [routerLink]="['../simulation']">Simulate</button>
            </div>
          </div>

          <!-- FOOTER -->
          <div class="box footer" style="background: none repeat scroll 0 0 #252d30; color: white; position: absolute; bottom: 0;">
            <footer class="line">
              <div class="s-12 l-6">
                <p>User icons: designed by Roundicons from Flaticon</p>
                <p id="copyright" property="dc:rights">&copy;
                  <span property="dc:dateCopyrighted">2017</span>
                  <span property="dc:publisher">Kieran Fraser, ADAPT Centre</span>
                </p>
              </div>
            </footer>
          </div>
        </div>
        <!-- RIGHT COLUMN -->
        <div *ngIf="users?.length == 0" class="s-12 m-8 l-9" style="max-height: 98vh; overflow-x: scroll; overflow-x: hidden">
          <div>
            <my-spinner [isRunning]="isRequesting"></my-spinner>
          </div>
        </div>

        <div *ngIf="users?.length > 0" class="s-12 m-8 l-9" style="max-height: 98vh; overflow-x: scroll; overflow-x: hidden; text-align: center">
          <div class="box" style="min-height: 98vh; background-image: url('./common/dist/img/swirl_pattern.png'); background-repeat: repeat; ">
            <!-- HEADER -->
            <!-- CAROUSEL -->
            <section>
              <!--<div>
                <a *ngFor="let user of users; let i = index" style="text-align: center;">
                  <div class="row" style="display: flex; align-items: center;">
                    <div>
                      <img src="./common/dist/img/{{i}}.png" style="max-width: 55%;" alt="something">
                    </div>
                  </div>
                </a>
              </div>-->
              <article *ngFor="let user of users; let i = index" class="line">
                <div class="margin" style="margin-bottom: 20px; margin-top: 20px;">
                  <div class="s-12 m-12 l-2 animated fadeInLeft" style="text-align: center">
                    <img src="./common/dist/img/{{i}}.png" class="imgBtn" style="max-width: 100%;
                    box-shadow: 10px 10px 5px darkgrey; border-radius: 100%;" alt="icon" (click)="selectUser(user, i)">
                  </div>
                  <div class="s-12 m-12 l-10 animated fadeInRight">
                    <div style="display: inline-block; vertical-align: middle; margin-left: 20px;">
                      <button type="button" class="btn btn-info btn-lg btn-circle btn-xl"
                              style="background-color: white; box-shadow: 5px 5px 5px darkgrey;"
                              (click)="lgModalInfo.show(); selectUser(user, i)"><img src="./common/dist/img/info.png"/></button>
                      <div style="display: block; text-align: center; margin-top: 7px;"><strong>{{user.id}}</strong></div>
                    </div>
                    <div style="display: inline-block; vertical-align: middle; margin-left: 20px;">
                      <button type="button" class="btn btn-info btn-lg btn-circle btn-xl"
                              style="background-color: white; box-shadow: 5px 5px 5px darkgrey;"
                              (click)="lgModalNotif.show(); selectUser(user, i)"><img src="./common/dist/img/notification.png"/></button>
                      <div style="display: block; text-align: center; margin-top: 7px;"><strong>{{user.notifications?.length}}</strong></div>
                    </div>
                    <div style="display: inline-block; vertical-align: middle; margin-left: 20px;">
                      <button type="button" class="btn btn-info btn-lg btn-circle btn-xl"
                              style="background-color: white; box-shadow: 5px 5px 5px darkgrey;"
                              (click)="lgModalEvent.show(); selectUser(user, i)"><img src="./common/dist/img/calendar.png"/></button>
                      <div style="display: block; text-align: center; margin-top: 7px;"><strong>{{user.events?.length}}</strong></div>
                    </div>
                  </div>

                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
    <img id="background" src="./common/dist/img/background.jpeg" alt="">

    <div bsModal #lgModalInfo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">User Information</h4>
            <button type="button" class="close pull-right" (click)="lgModalInfo.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <tbody>
              <tr>
                <th>Id</th>
                <td>{{selectedUser?.id}}</td>
              </tr>
              <tr>
                <th>Student</th>
                <td>{{selectedUser?.student}}</td>
              </tr>
              <tr>
                <th>Agreeableness</th>
                <td>{{selectedUser?.personality?.agreeableness}}</td>
              </tr>
              <tr>
                <th>Conscientiousness</th>
                <td>{{selectedUser?.personality?.conscientiousness}}</td>
              </tr>
              <tr>
                <th>Extraversion</th>
                <td>{{selectedUser?.personality?.extraversion}}</td>
              </tr>
              <tr>
                <th>Neuroticism</th>
                <td>{{selectedUser?.personality?.neuroticism}}</td>
              </tr>
              <tr>
                <th>Openness</th>
                <td>{{selectedUser?.personality?.openness}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div bsModal #lgModalNotif="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header" style="text-align: center">
            <h2 class="modal-title pull-left">User Notifications</h2>
            <button type="button" class="close pull-right" (click)="lgModalNotif.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div *ngIf="selectedUser !=null" style="min-height:50px;max-height: 300px; overflow-y: scroll; min-height: 75vh;">

              <table class="table">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Date</th>
                  <th>Sender</th>
                  <th>Sender Rank</th>
                  <th>Subject</th>
                  <th>App</th>
                  <th>App Rank</th>
                </tr>
                </thead>
                <tbody>
                <tr class="pointer" *ngFor="let notification of selectedUser.notifications; let i = index;" (click)="notificationSelected(notification);"
                    [ngClass]="{ 'selected': notification?.active }">
                  <td>{{i+1}}</td>
                  <td>{{notification?.date}}</td>
                  <td>{{notification?.sender}}</td>
                  <td>{{notification?.senderRank}}</td>
                  <td class="tool" data-html="true" data-toggle="tooltip" data-placement="right"
                      title="Dataset: {{notification?.subject?.dataset}} <br> Ground truth: {{notification?.subject?.ground_truth}}">{{notification?.subject?.subject}}</td>
                  <td data-toggle="tooltip" data-placement="right"
                      title="Category: {{notification?.app?.category}}">{{notification?.app?.name}}</td>
                  <td>{{notification?.appRank}}</td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div bsModal #lgModalEvent="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title pull-left">User Events</h2>
            <button type="button" class="close pull-right" (click)="lgModalEvent.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div *ngIf="selectedUser?.events !=null" style="min-height:50px;max-height: 300px; overflow-y: scroll; min-height: 75vh;">

              <table class="table">
                <thead>
                <tr>
                  <th>Type</th>
                  <th>Description</th>
                  <th>Start</th>
                  <th>End</th>
                  <th>With</th>
                </tr>
                </thead>
                <tbody>
                <tr class="pointer" *ngFor="let event of selectedUser?.events;">
                  <div [ngSwitch]="event?.eventType">
                    <td *ngSwitchCase="0">Forward</td>
                    <td *ngSwitchCase="1">Enjoyed</td>
                    <td *ngSwitchCase="2">Cinema</td>
                    <td *ngSwitchCase="3">Movie</td>
                    <td *ngSwitchCase="4">TV</td>
                    <td *ngSwitchCase="5">Restaurant</td>
                    <td *ngSwitchDefault>-</td>
                  </div>
                  <td>{{event?.nameGT}}</td>
                  <td>{{event?.inferredStartDate.dayOfMonth}}/{{event?.inferredStartDate.monthValue}}/{{event?.inferredStartDate.year}}
                    {{event?.inferredStartDate.hour}}:{{event?.inferredStartDate.minute}}:00</td>
                  <td>{{event?.inferredEndDate.dayOfMonth}}/{{event?.inferredEndDate.monthValue}}/{{event?.inferredEndDate.year}}
                    {{event?.inferredEndDate.hour}}:{{event?.inferredEndDate.minute}}:00</td>
                  <td>{{event?.withGT}}</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
